@media (min-width: $breakpoint-768) {

    .container {
      max-width: 1400px;
      @include disp-marg;
    }
  
    .centered {
      @include disp-marg;
    }
  
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    
    [class^=col] + [class^=col] {
      margin-left: 10px;
    }
    
    $flex-list: 8.33% 16.67% 25.00% 33.33% 41.67% 50.00% 58.33% 66.67% 75.00% 83.33% 91.67% 100%;
    @each $flex in $flex-list {
        $i: index($flex-list, $flex);
        .col-#{$i} { 
            flex-basis: $flex;
        }
    }
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    
    .nav-link {
      flex-basis: 100px;
    }
    
    .btn {
      padding: 10px 30px;
    }
    
    .btn + .btn {
      margin-left: 10px;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }
