//  ------Colors-------
$main-color: #777;
$secondary-color: #58e1c1;
$links-button: #51ddfc;
$info-btn-col-1: #927bc1;
$warning-btn-col-2: #fd7856;
$hover-btn: #5F74AD;
$btn-color: #fff;
$error-btn-col-9: #e4757a;
$success-btn-col-10: #63cc82;


// -----Media Queries-----

$breakpoint-768: 768px;




