
.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  $colors-list: $info-btn-col-1 $warning-btn-col-2 #deb2ee #7ee6fd #88d9a0 #4da2bb #ec9fa3 #fd9f85 $error-btn-col-9 $success-btn-col-10 $links-button #80e8d1;
  @each $current-color in $colors-list {
      $i: index($colors-list, $current-color);
      .theme.col-#{$i} { 
          background-color: $current-color;
      }
  }
  
  .card {
    flex-basis: 100%;
  }